.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #c6d1e8;
}
.header__nav {
  display: flex;
  flex-direction: row;
  width: 400px;

  gap: 20px;
}
.nav__link {
  width: 150px;
  padding: 5px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  box-shadow: 1px 1px 10px 1px #000a;
}
.nav__link:hover {
  color: #334a50;
}
.active {
  background-color: rgb(214, 88, 88);
}
