.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80px;
  background-color: var(--darck-blue);
}

.header__nav {
  display: flex;
  flex-direction: row;
  /* width: 600px; */
  gap: 20px;
}

.header__nav-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

.nav__link {
  width: 150px;
  padding: 5px;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  box-shadow: 1px 1px 10px 1px #000a;
  background-color: var(--light-blue);
}

.nav__link:hover {
  color: var(--beige);
}

.active {
  background-color: var(--peach);
}

@media (max-width: 1025px) {
  
  .header__nav {
    display: none;
  }
}
