.authorization-wrapper {
  /* width: 380px; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* justify-content: space-between; */
  /* margin-left: 900px; */
}

/* .sign-out-btn {
  display: inline-flex;
} */

.account-box-icon {
  display: none;
}

@media (max-width: 1025px) {
  
  .authorization-wrapper {
    display: none;
  }

  .account-box-icon {
    display: inline-block;
  }
}