:root {
    --darck-blue: #010440;
    --blue: #364A73;
    --light-blue: #9EA3B9;
    --beige: #F2E2CE;
    --peach: #F2A29B;
  }

/* .MuiButtonBase-root */
#basic-menu li,
#basic-menu-auth li {
  display: flex  !important;
  min-height: 48px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  justify-content: flex-start !important;
}
