.columns-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  padding: 10px;
  border: 2px salmon solid;

  gap: 10px;
}
.columns__item {
  padding: 20px;
  box-shadow: 2px 2px 20px 2px #000a;
}
