* {
  box-sizing: border-box;
}

.main-page {
  min-height: calc(100vh - 80px);
  background-color: var(--light-blue);
}

.boards-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  position: relative;
  width: 200px;
  height: 96px;
  padding: 10px;
  /* border: solid 1px black; */
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 1) 0%, rgba(242, 226, 206, 1) 100%);
  box-shadow: rgb(0 0 0 / 67%) 1px 1px 10px 1px;
  border-radius: 4px;
  cursor: pointer;
}

.board:hover {
  transform: scale(1.1) rotate(-0.5deg);
}

.create-board-modal__delete {
  position: absolute;
  right: -5px;
  cursor: pointer;
}

.board svg {
  opacity: 0;
  background: none;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  transition-property: opacity, transform;
}

.board svg.active {
  opacity: 1;
  transform: translateX(-20px);
}

.create-board-modal__delete:hover {
  color: black;
}

/* .create-board-modal__delete {
  float: right;
  margin-left: 25px;
  cursor: pointer;
}

.board svg {
  opacity: 0;
  background: none;
  transition: opacity 1s 1s;
} */
