* {
  box-sizing: border-box;
}

.main-page {
  height: calc(100vh - 140px);
  background-color: var(--light-blue);
}

.boards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;

  gap: 20px;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-height: 96px;
  padding: 10px;
  word-break: break-all;

/* border: solid 1px black; */
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 1) 0%, rgba(242, 226, 206, 1) 100%);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 67%) 1px 1px 10px 1px;
  cursor: pointer;
}

.board:hover {
  transform: scale(1.1) rotate(-0.5deg);
}

.create-board-modal__delete {
  position: absolute;
  right: -5px;
  cursor: pointer;
}

.board h3 {
  width: fit-content;
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
}

.board svg {
  background: none;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity, transform;
}

.board svg.active {
  transform: translateX(-20px);
  opacity: 1;
}

.create-board-modal__delete:hover {
  color: black;
}

/* .create-board-modal__delete {
  float: right;
  margin-left: 25px;
  cursor: pointer;
}

.board svg {
  opacity: 0;
  background: none;
  transition: opacity 1s 1s;
} */

/* overflow-wrap: break-word; */
/* transition-delay: 0.5s; */
