.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-x: auto;

  gap: 20px;
}
.columns-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}
