#localization-select:hover {
  background-color: var(--light-blue) ;
}

.flag {
  width: 30px;
}

/* .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: auto !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  padding: 0;
} */